.section {
  padding: 20px;
  border: 2px solid #1593f369;
  background-color: #089cec1a;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #1593f369;
}

.title {
  font-size: 24px;
  text-align: center;
}
